.bar1, .bar2, .bar3{
    position: relative;
    top: 10px;
    left: 20px;
    width: 25px;
    height: 3px;
    background-color: #666;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1{
    transform: translate(0, 9px) rotate(-45deg);
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    transform: translate(0, -9px) rotate(45deg);
}